In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [46]:
df = pd.read_excel(r'carrinho_abandonado_.xlsx')
display(df)

,Unnamed: 0,Unnamed: 0.1,status,channel,isSubscription,hubServices,_id,property,partner,checkIn,checkOut,guests,user,cost,aliasId,staysId,statuses,createdAt,updatedAt,coupon
0,0,0,BOOKED,SITE,True,[],613c425c3bb0970018fe5e28,"{'_id': '60184c355926f200120943a0', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c425c3...","{'_id': '613c425c3bb0970018fe5e2b', 'date': '2...","{'_id': '613c425c3bb0970018fe5e2c', 'date': '2...","{'children': 0, '_id': '613c425c3bb0970018fe5e...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c425c3bb0970018fe5e2e', 'fees': [{...",WO60G,613c425b7e3cb113b0501e66,"[{'name': 'BOOKED', 'createdAt': '2021-09-11T0...",2021-09-11T05:45:00.318Z,2021-09-11T05:47:23.534Z,NaN
1,1,1,EXPIRED,SITE,True,[],613c392b3bb0970018fe5dc0,"{'_id': '612e760822292e00183783b7', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c392b3...","{'_id': '613c392b3bb0970018fe5dc4', 'date': '2...","{'_id': '613c392b3bb0970018fe5dc5', 'date': '2...","{'children': 0, '_id': '613c392b3bb0970018fe5d...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c392b3bb0970018fe5dc7', 'fees': [{...",WO59G,613c392a04b00a7460d739a8,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:05:47.239Z,2021-09-11T05:11:03.201Z,"{'_id': '613c392b3bb0970018fe5dc3', 'kind': 'p..."
2,2,2,EXPIRED,APP,False,[],613c38e63bb0970018fe5da0,"{'_id': '60184c165926f20012084419', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c38e63...","{'_id': '613c38e63bb0970018fe5da3', 'date': '2...","{'_id': '613c38e63bb0970018fe5da4', 'date': '2...","{'children': 0, '_id': '613c38e63bb0970018fe5d...","{'_id': '6104a8a66063550018c19e15', 'staysId':...","{'_id': '613c38e63bb0970018fe5da6', 'fees': [{...",WQ50G,613c38e5f02666a9301cee49,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:04:38.217Z,2021-09-11T05:10:08.161Z,NaN
3,3,3,EXPIRED,SITE,True,[],613c2c6b3bb0970018fe4cc2,"{'_id': '60e7706840c84200118c302d', 'aliasId':...","{'integrationType': 'HOUSI', '_id': '613c2c6b3...","{'_id': '613c2c6b3bb0970018fe4cc5', 'date': '2...","{'_id': '613c2c6b3bb0970018fe4cc6', 'date': '2...","{'children': 0, '_id': '613c2c6b3bb0970018fe4c...","{'_id': '60e744236f88030011d44c67', 'staysId':...","{'_id': '613c2c6b3bb0970018fe4cc8', 'fees': [{...",TE8D4P,NaN,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T04:11:23.608Z,2021-09-11T04:17:07.480Z,NaN
4,4,4,EXPIRED,SITE,True,[],613c27c13bb0970018fe4c6b,"{'_id': '60184c3f5926f20012096ff5', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c27c13...","{'_id': '613c27c13bb0970018fe4c6e', 'date': '2...","{'_id': '613c27c13bb0970018fe4c6f', 'date': '2...","{'children': 0, '_id': '613c27c13bb0970018fe4c...","{'_id': '612e6a3c6063550018c2118c', 'staysId':...","{'_id': '613c27c13bb0970018fe4c71', 'fees': [{...",YY16G,613c27c1af7781c693f73a7c,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T03:51:29.732Z,2021-09-11T03:57:12.673Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,95,EXPIRED,APP,True,[],613acaf7ea924f00122dc1a2,"{'_id': '60d6d23d811ae30018870b8d', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613acaf7e...","{'_id': '613acaf7ea924f00122dc1a5', 'date': '2...","{'_id': '613acaf7ea924f00122dc1a6', 'date': '2...","{'children': 0, '_id': '613acaf7ea924f00122dc1...","{'_id': '5f637012aad56f0018b52bb4', 'staysId':...","{'_id': '613acaf7ea924f00122dc1a8', 'fees': [{...",WR85G,613acaf7a13dba4685dab548,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T03:03:19.636Z,2021-09-10T03:09:07.044Z,NaN
96,96,96,EXPIRED,SITE,True,[],613ac813ea924f00122dc13a,"{'_id': '60184c3d5926f20012095d54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac813e...","{'_id': '613ac813ea924f00122dc13d', 'date': '2...","{'_id': '613ac813ea924f00122dc13e', 'date': '2...","{'children': 0, '_id': '613ac813ea924f00122dc1...","{'_id': '613a6c1f6063550018c23d5f', 'staysId':...","{'_id': '613ac813ea924f00122dc140', 'fees': [{...",XD75G,613ac813258ec19d3c1386dd,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:50:59.719Z,2021-09-10T02:56:08.679Z,NaN
97,97,97,WAITING_PAYMENT,SITE,False,[],613ac195ea924f00122dc021,"{'_id': '60184c3d5926f20012095f39', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac195e...","{'_id': '613ac195ea924f00122dc024', 'date': '2...","{'_id': '613ac195ea924f00122dc025', 'date': '2...","{'children': 0, '_id': '613ac195ea924f00122dc0...","{'_id': '5fe6539f3dac140011abc254', 'staysId':...","{'_id': '613ac195ea924f00122dc027', 'fees': [{...",WI112G,613ac195a13dba5c9edab499,"[{'name': 'WAITING_PAYMENT', 'createdAt': '202...",2021-09-10T02:23:17.952Z,2021-09-10T02:23:43.632Z,NaN
98,98,98,BOOKED,APP,False,[],613abe18ea924f00122dbda5,"{'_id': '60184c135926f20012082d1a', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abe18e...","{'_id': '613abe18ea924f00122dbda9', 'date': '2...","{'_id': '613abe18ea924f00122dbdaa', 'date': '2...","{'children': 0, '_id': '613abe18ea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abe18ea924f00122dbdac', 'fees': [{...",XD74G,613abe17a13dba8835dab405,"[{'name': 'BOOKED', 'createdAt': '2021-09-10T0...",2021-09-10T02:08:24.439Z,2021-09-10T02:08:32.241Z,"{'_id': '613abe18ea924f00122dbda8', 'kind': 'p..."
99,99,99,EXPIRED,APP,False,[],613abc9bea924f00122dbd59,"{'_id': '60184c125926f20012082b54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abc9be...","{'_id': '613abc9bea924f00122dbd5d', 'date': '2...","{'_id': '613abc9bea924f00122dbd5e', 'date': '2...","{'children': 0, '_id': '613abc9bea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abc9bea924f00122dbd60', 'fees': [{...",XD73G,613abc99258ec1c944138605,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:02:03.060Z,2021-09-10T02:07:09.903Z,"{'_id': '613abc9bea924f00122dbd5c', 'kind': 'p..."

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   Unnamed: 0.1    100 non-null    int64
 2   status          100 non-null    object
 3   channel         100 non-null    object
 4   isSubscription  100 non-null    bool
 5   hubServices     100 non-null    object
 6   _id             100 non-null    object
 7   property        100 non-null    object
 8   partner         100 non-null    object
 9   checkIn         100 non-null    object
 10  checkOut        100 non-null    object
 11  guests          100 non-null    object
 12  user            100 non-null    object
 13  cost            100 non-null    object
 14  aliasId         100 non-null    object
 15  staysId         88 non-null     object
 16  statuses        100 non-null    object
 17  createdAt       100 non-null    object
 18  updatedAt       100 non-null    object
 19  coupon          20 non-null     object
dtypes: bool(1), int64(2), object(17)
memory usage: 15.1+ KB

In [48]:
display(df[['cost']])

                                                 cost
0   {'_id': '613c425c3bb0970018fe5e2e', 'fees': [{...
1   {'_id': '613c392b3bb0970018fe5dc7', 'fees': [{...
2   {'_id': '613c38e63bb0970018fe5da6', 'fees': [{...
3   {'_id': '613c2c6b3bb0970018fe4cc8', 'fees': [{...
4   {'_id': '613c27c13bb0970018fe4c71', 'fees': [{...
..                                                ...
95  {'_id': '613acaf7ea924f00122dc1a8', 'fees': [{...
96  {'_id': '613ac813ea924f00122dc140', 'fees': [{...
97  {'_id': '613ac195ea924f00122dc027', 'fees': [{...
98  {'_id': '613abe18ea924f00122dbdac', 'fees': [{...
99  {'_id': '613abc9bea924f00122dbd60', 'fees': [{...

[100 rows x 1 columns]

In [49]:
def expand(df):
    df = df.str.split(',', expand=True)
    return df

In [50]:
df_cost = expand(df['cost'])
df_cost

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,{'_id': '613c425c3bb0970018fe5e2e','fees': [{'_id': '613c425c3bb0970018fe5e32','name': 'CONDOMINIO','amount': {'_id': '613c425c3bb0970018fe5e33','amount': 52500,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e34','name': 'CONTASCONSUMO','amount': {'_id': '613c425c3bb0970018fe5e35','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e36','name': 'IPTU','amount': {'_id': '613c425c3bb0970018fe5e37','amount': 12500,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e38','name': 'LIMPEZA','amount': {'_id': '613c425c3bb0970018fe5e39','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c425c3bb0970018fe5e2f','amount': 379038,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c425c3bb0970018fe5...,'amount': 379038,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c425c3bb0970018fe5e31','amount': 183865,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
1,{'_id': '613c392b3bb0970018fe5dc7','fees': [{'_id': '613c392b3bb0970018fe5dcb','name': 'CONDOMINIO','amount': {'_id': '613c392b3bb0970018fe5dcc','amount': 51219,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dcd','name': 'CONTASCONSUMO','amount': {'_id': '613c392b3bb0970018fe5dce','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dcf','name': 'IPTU','amount': {'_id': '613c392b3bb0970018fe5dd0','amount': 12195,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dd1','name': 'LIMPEZA','amount': {'_id': '613c392b3bb0970018fe5dd2','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c392b3bb0970018fe5dc8','amount': 353163,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c392b3bb0970018fe5...,'amount': 371751,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c392b3bb0970018fe5dca','amount': 179379,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
2,{'_id': '613c38e63bb0970018fe5da6','fees': [{'_id': '613c38e63bb0970018fe5daa','name': 'CONDOMINIO','amount': {'_id': '613c38e63bb0970018fe5dab','amount': 40500,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5dac','name': 'CONTASCONSUMO','amount': {'_id': '613c38e63bb0970018fe5dad','amount': 27000,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5dae','name': 'IPTU','amount': {'_id': '613c38e63bb0970018fe5daf','amount': 19800,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5db0','name': 'LIMPEZA','amount': {'_id': '613c38e63bb0970018fe5db1','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c38e63bb0970018fe5da7','amount': 1287983,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c38e63bb0970018fe5...,'amount': 1287983,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c38e63bb0970018fe5da9','amount': 1190983,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
3,{'_id': '613c2c6b3bb0970018fe4cc8','fees': [{'_id': '613c2c6b3bb0970018fe4ccc','name': 'condo','amount': {'_id': '613c2c6b3bb0970018fe4ccd','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cce','name': 'iptu','amount': {'_id': '613c2c6b3bb0970018fe4ccf','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd0','name': 'tvInternet','amount': {'_id': '613c2c6b3bb0970018fe4cd1','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd2','name': 'energyBill','amount': {'_id': '613c2c6b3bb0970018fe4cd3','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd4','name': 'cleaningTax','amount': {'_id': '613c2c6b3bb0970018fe4cd5','currency': 'BRL','precision': 2,'amount': 5000}}],'total': {'_id': '613c2c6b3bb0970018fe4cc9','amount': 345000,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c2c6b3bb0970018fe4...,'amount': 345000,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c2c6b3bb0970018fe4ccb','amount': 340000,'currency': 'BRL','precision': 2}}
4,{'_id': '613c27c13bb0970018fe4c71','fees': [{'_id': '613c27c13bb0970018fe4c75','name': 'CONDOMINIO','amount': {'_id': '613c27c13bb0970018fe4c76','amount': 105000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c77','name': 'CONTASCONSUMO','amount': {'_id': '613c27c13bb0970018fe4c78','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c79','name': 'IPTU','amount': {'_id': '613c27c13bb0970018fe4c7a','amount': 25000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c7b','name': 'LIMPEZA','amount': {'_id': '613c27c13bb0970018fe4c7c','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c27c13bb0970018fe4c72','amount': 632333,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c27c13bb0970018fe4...,'amount': 632333,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c27c13bb0970018fe4c74','amount': 433333,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,{'_id': '613acaf7ea924f00122dc1a8','fees': [{'_id': '613acaf7ea924f00122dc1ac','name': 'CONDOMINIO','amount': {'_id': '613acaf7ea924f00122dc1ad','amount': 50400,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1ae','name': 'CONTASCONSUMO','amount': {'_id': '613acaf7ea924f00122dc1af','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1b0','name': 'IPTU','amount': {'_id': '613acaf7ea924f00122dc1b1','amount': 12000,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1b2','name': 'LIMPEZA','amount': {'_id': '613acaf7ea924f00122dc1b3','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613acaf7ea924f00122dc1a9','amount': 368112,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613acaf7ea924f00122dc...,'amount': 368112,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613acaf7ea924f00122dc1ab','amount': 236712,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
96,{'_id': '613ac813ea924f00122dc140','fees': [{'_id': '613ac813ea924f00122dc144','name': 'CONDOMINIO','amount': {'_id': '613ac813ea924f00122dc145','amount': 31500,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc146','name': 'CONTASCONSUMO','amount': {'_id': '613ac813ea924f00122dc147','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc148','name': 'IPTU','amount': {'_id': '613ac813ea924f00122dc149','amount': 7500,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc14a','name': 'LIMPEZA','amount': {'_id': '613ac813ea924f00122dc14b','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613ac813ea924f00122dc141','amount': 237313,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613ac813ea924f00122dc...,'amount': 237313,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613ac813ea924f00122dc143','amount': 129312,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
97,{'_id': '613ac195ea924f00122dc027','fees': [{'_id': '613ac195ea924f00122dc02b','name': 'CONDOMINIO','amount': {'_id': '613ac195ea924f00122dc02c','amount': 17792,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc02d','name': 'CONTASCONSUMO','amount': {'_id': '613ac195ea924f00122dc02e','amount': 21676,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc02f','name': 'IPTU','amount': {'_id': '613ac195ea924f00122dc030','amount': 11717,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc031','name': 'LIMPEZA','amount': {'_id': '613ac195ea924f00122dc032','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613ac195ea924f00122dc028','amount': 270400,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613ac195ea924f00122dc...,'amount': 270400,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613ac195ea924f00122dc02a','amount': 215066,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
98,{'_id': '613abe18ea924f00122dbdac','fees': [{'_id': '613abe18ea924f00122dbdb0','name': 'CONDOMINIO','amount': {'_id': '613abe18ea924f00122dbdb1','amount': 15527,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb2','name': 'CONTASCONSUMO','amount': {'_id': '613abe18ea924f00122dbdb3','amount': 4095,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb4','name': 'IPTU','amount': {'_id': '613abe18ea924f00122dbdb5','amount': 1584,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb6','name': 'LIMPEZA','amount': {'_id': '613abe18ea924f00122dbdb7','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613abe18ea924f00122dbdad','amount': 74385,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613abe18ea924f00122db...,'amount': 78300,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613abe18ea924f00122dbdaf','amount': 56550,'currency': 'BRL','precision': 2}},None,None,None,None,None,None
99,{'_id': '613abc9bea924f00122dbd60','fees': [{'_id': '613abc9bea924f00122dbd64','name': 'CONDOMINIO','amount': {'_id': '613abc9bea924f00122dbd65','amount': 11944,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd66','name': 'CONTASCONSUMO','amount': {'_id': '613abc9bea924f00122dbd67','amount': 4095,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd68','name': 'IPTU','amount': {'_id': '613abc9bea924f00122dbd69','amount': 1219,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd6a','name': 'LIMPEZA','amount': {'_id': '613abc9bea924f00122dbd6b','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613abc9bea924f00122dbd61','amount': 74385,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613abc9bea924f00122db...,'amount': 78300,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613abc9bea924f00122dbd63','amount': 60600,'currency': 'BRL','precision': 2}},None,None,None,None,None,None

In [51]:
df_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    object
 1   1       100 non-null    object
 2   2       100 non-null    object
 3   3       100 non-null    object
 4   4       100 non-null    object
 5   5       100 non-null    object
 6   6       100 non-null    object
 7   7       100 non-null    object
 8   8       100 non-null    object
 9   9       100 non-null    object
 10  10      100 non-null    object
 11  11      100 non-null    object
 12  12      100 non-null    object
 13  13      100 non-null    object
 14  14      98 non-null     object
 15  15      98 non-null     object
 16  16      98 non-null     object
 17  17      98 non-null     object
 18  18      98 non-null     object
 19  19      96 non-null     object
 20  20      96 non-null     object
 21  21      96 non-null     object
 22  22      96 non-null     object
 23  23      96 non-null     object
 24  24      96 non-null     object
 25  25      96 non-null     object
 26  26      96 non-null     object
 27  27      96 non-null     object
 28  28      96 non-null     object
 29  29      96 non-null     object
 30  30      96 non-null     object
 31  31      96 non-null     object
 32  32      96 non-null     object
 33  33      96 non-null     object
 34  34      96 non-null     object
 35  35      96 non-null     object
 36  36      96 non-null     object
 37  37      12 non-null     object
 38  38      12 non-null     object
 39  39      12 non-null     object
 40  40      10 non-null     object
 41  41      10 non-null     object
 42  42      10 non-null     object
dtypes: object(43)
memory usage: 33.7+ KB

In [52]:
df_cost = df_cost.drop(columns = [37, 38, 39, 40, 41, 42])
df_cost

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,{'_id': '613c425c3bb0970018fe5e2e','fees': [{'_id': '613c425c3bb0970018fe5e32','name': 'CONDOMINIO','amount': {'_id': '613c425c3bb0970018fe5e33','amount': 52500,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e34','name': 'CONTASCONSUMO','amount': {'_id': '613c425c3bb0970018fe5e35','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e36','name': 'IPTU','amount': {'_id': '613c425c3bb0970018fe5e37','amount': 12500,'currency': 'BRL','precision': 2}},{'_id': '613c425c3bb0970018fe5e38','name': 'LIMPEZA','amount': {'_id': '613c425c3bb0970018fe5e39','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c425c3bb0970018fe5e2f','amount': 379038,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c425c3bb0970018fe5...,'amount': 379038,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c425c3bb0970018fe5e31','amount': 183865,'currency': 'BRL','precision': 2}}
1,{'_id': '613c392b3bb0970018fe5dc7','fees': [{'_id': '613c392b3bb0970018fe5dcb','name': 'CONDOMINIO','amount': {'_id': '613c392b3bb0970018fe5dcc','amount': 51219,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dcd','name': 'CONTASCONSUMO','amount': {'_id': '613c392b3bb0970018fe5dce','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dcf','name': 'IPTU','amount': {'_id': '613c392b3bb0970018fe5dd0','amount': 12195,'currency': 'BRL','precision': 2}},{'_id': '613c392b3bb0970018fe5dd1','name': 'LIMPEZA','amount': {'_id': '613c392b3bb0970018fe5dd2','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c392b3bb0970018fe5dc8','amount': 353163,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c392b3bb0970018fe5...,'amount': 371751,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c392b3bb0970018fe5dca','amount': 179379,'currency': 'BRL','precision': 2}}
2,{'_id': '613c38e63bb0970018fe5da6','fees': [{'_id': '613c38e63bb0970018fe5daa','name': 'CONDOMINIO','amount': {'_id': '613c38e63bb0970018fe5dab','amount': 40500,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5dac','name': 'CONTASCONSUMO','amount': {'_id': '613c38e63bb0970018fe5dad','amount': 27000,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5dae','name': 'IPTU','amount': {'_id': '613c38e63bb0970018fe5daf','amount': 19800,'currency': 'BRL','precision': 2}},{'_id': '613c38e63bb0970018fe5db0','name': 'LIMPEZA','amount': {'_id': '613c38e63bb0970018fe5db1','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c38e63bb0970018fe5da7','amount': 1287983,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c38e63bb0970018fe5...,'amount': 1287983,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c38e63bb0970018fe5da9','amount': 1190983,'currency': 'BRL','precision': 2}}
3,{'_id': '613c2c6b3bb0970018fe4cc8','fees': [{'_id': '613c2c6b3bb0970018fe4ccc','name': 'condo','amount': {'_id': '613c2c6b3bb0970018fe4ccd','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cce','name': 'iptu','amount': {'_id': '613c2c6b3bb0970018fe4ccf','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd0','name': 'tvInternet','amount': {'_id': '613c2c6b3bb0970018fe4cd1','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd2','name': 'energyBill','amount': {'_id': '613c2c6b3bb0970018fe4cd3','currency': 'BRL','precision': 2,'amount': 0}},{'_id': '613c2c6b3bb0970018fe4cd4','name': 'cleaningTax','amount': {'_id': '613c2c6b3bb0970018fe4cd5','currency': 'BRL','precision': 2,'amount': 5000}}],'total': {'_id': '613c2c6b3bb0970018fe4cc9','amount': 345000,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c2c6b3bb0970018fe4...,'amount': 345000
4,{'_id': '613c27c13bb0970018fe4c71','fees': [{'_id': '613c27c13bb0970018fe4c75','name': 'CONDOMINIO','amount': {'_id': '613c27c13bb0970018fe4c76','amount': 105000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c77','name': 'CONTASCONSUMO','amount': {'_id': '613c27c13bb0970018fe4c78','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c79','name': 'IPTU','amount': {'_id': '613c27c13bb0970018fe4c7a','amount': 25000,'currency': 'BRL','precision': 2}},{'_id': '613c27c13bb0970018fe4c7b','name': 'LIMPEZA','amount': {'_id': '613c27c13bb0970018fe4c7c','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613c27c13bb0970018fe4c72','amount': 632333,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613c27c13bb0970018fe4...,'amount': 632333,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613c27c13bb0970018fe4c74','amount': 433333,'currency': 'BRL','precision': 2}}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,{'_id': '613acaf7ea924f00122dc1a8','fees': [{'_id': '613acaf7ea924f00122dc1ac','name': 'CONDOMINIO','amount': {'_id': '613acaf7ea924f00122dc1ad','amount': 50400,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1ae','name': 'CONTASCONSUMO','amount': {'_id': '613acaf7ea924f00122dc1af','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1b0','name': 'IPTU','amount': {'_id': '613acaf7ea924f00122dc1b1','amount': 12000,'currency': 'BRL','precision': 2}},{'_id': '613acaf7ea924f00122dc1b2','name': 'LIMPEZA','amount': {'_id': '613acaf7ea924f00122dc1b3','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613acaf7ea924f00122dc1a9','amount': 368112,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613acaf7ea924f00122dc...,'amount': 368112,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613acaf7ea924f00122dc1ab','amount': 236712,'currency': 'BRL','precision': 2}}
96,{'_id': '613ac813ea924f00122dc140','fees': [{'_id': '613ac813ea924f00122dc144','name': 'CONDOMINIO','amount': {'_id': '613ac813ea924f00122dc145','amount': 31500,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc146','name': 'CONTASCONSUMO','amount': {'_id': '613ac813ea924f00122dc147','amount': 42000,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc148','name': 'IPTU','amount': {'_id': '613ac813ea924f00122dc149','amount': 7500,'currency': 'BRL','precision': 2}},{'_id': '613ac813ea924f00122dc14a','name': 'LIMPEZA','amount': {'_id': '613ac813ea924f00122dc14b','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613ac813ea924f00122dc141','amount': 237313,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613ac813ea924f00122dc...,'amount': 237313,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613ac813ea924f00122dc143','amount': 129312,'currency': 'BRL','precision': 2}}
97,{'_id': '613ac195ea924f00122dc027','fees': [{'_id': '613ac195ea924f00122dc02b','name': 'CONDOMINIO','amount': {'_id': '613ac195ea924f00122dc02c','amount': 17792,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc02d','name': 'CONTASCONSUMO','amount': {'_id': '613ac195ea924f00122dc02e','amount': 21676,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc02f','name': 'IPTU','amount': {'_id': '613ac195ea924f00122dc030','amount': 11717,'currency': 'BRL','precision': 2}},{'_id': '613ac195ea924f00122dc031','name': 'LIMPEZA','amount': {'_id': '613ac195ea924f00122dc032','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613ac195ea924f00122dc028','amount': 270400,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613ac195ea924f00122dc...,'amount': 270400,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613ac195ea924f00122dc02a','amount': 215066,'currency': 'BRL','precision': 2}}
98,{'_id': '613abe18ea924f00122dbdac','fees': [{'_id': '613abe18ea924f00122dbdb0','name': 'CONDOMINIO','amount': {'_id': '613abe18ea924f00122dbdb1','amount': 15527,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb2','name': 'CONTASCONSUMO','amount': {'_id': '613abe18ea924f00122dbdb3','amount': 4095,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb4','name': 'IPTU','amount': {'_id': '613abe18ea924f00122dbdb5','amount': 1584,'currency': 'BRL','precision': 2}},{'_id': '613abe18ea924f00122dbdb6','name': 'LIMPEZA','amount': {'_id': '613abe18ea924f00122dbdb7','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613abe18ea924f00122dbdad','amount': 74385,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613abe18ea924f00122db...,'amount': 78300,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613abe18ea924f00122dbdaf','amount': 56550,'currency': 'BRL','precision': 2}}
99,{'_id': '613abc9bea924f00122dbd60','fees': [{'_id': '613abc9bea924f00122dbd64','name': 'CONDOMINIO','amount': {'_id': '613abc9bea924f00122dbd65','amount': 11944,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd66','name': 'CONTASCONSUMO','amount': {'_id': '613abc9bea924f00122dbd67','amount': 4095,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd68','name': 'IPTU','amount': {'_id': '613abc9bea924f00122dbd69','amount': 1219,'currency': 'BRL','precision': 2}},{'_id': '613abc9bea924f00122dbd6a','name': 'LIMPEZA','amount': {'_id': '613abc9bea924f00122dbd6b','amount': 20000,'currency': 'BRL','precision': 2}}],'total': {'_id': '613abc9bea924f00122dbd61','amount': 74385,'currency': 'BRL','precision': 2},'grossAmount': {'_id': '613abc9bea924f00122db...,'amount': 78300,'currency': 'BRL','precision': 2},'netAmount': {'_id': '613abc9bea924f00122dbd63','amount': 60600,'currency': 'BRL','precision': 2}}

In [53]:
def lmp_char(df):
    df=df.replace('{','',regex=True)
    df=df.replace('}','',regex=True)
    df=df.replace('\[','',regex=True)
    df=df.replace(']','',regex=True)
    df=df.replace("'",'',regex=True)
    return df

In [54]:
df_cost = lmp_char(df_cost)
df_cost

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,_id: 613c425c3bb0970018fe5e2e,fees: _id: 613c425c3bb0970018fe5e32,name: CONDOMINIO,amount: _id: 613c425c3bb0970018fe5e33,amount: 52500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e34,name: CONTASCONSUMO,amount: _id: 613c425c3bb0970018fe5e35,amount: 42000,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e36,name: IPTU,amount: _id: 613c425c3bb0970018fe5e37,amount: 12500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e38,name: LIMPEZA,amount: _id: 613c425c3bb0970018fe5e39,amount: 20000,currency: BRL,precision: 2,total: _id: 613c425c3bb0970018fe5e2f,amount: 379038,currency: BRL,precision: 2,grossAmount: _id: 613c425c3bb0970018fe5e30,amount: 379038,currency: BRL,precision: 2,netAmount: _id: 613c425c3bb0970018fe5e31,amount: 183865,currency: BRL,precision: 2
1,_id: 613c392b3bb0970018fe5dc7,fees: _id: 613c392b3bb0970018fe5dcb,name: CONDOMINIO,amount: _id: 613c392b3bb0970018fe5dcc,amount: 51219,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcd,name: CONTASCONSUMO,amount: _id: 613c392b3bb0970018fe5dce,amount: 42000,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcf,name: IPTU,amount: _id: 613c392b3bb0970018fe5dd0,amount: 12195,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dd1,name: LIMPEZA,amount: _id: 613c392b3bb0970018fe5dd2,amount: 20000,currency: BRL,precision: 2,total: _id: 613c392b3bb0970018fe5dc8,amount: 353163,currency: BRL,precision: 2,grossAmount: _id: 613c392b3bb0970018fe5dc9,amount: 371751,currency: BRL,precision: 2,netAmount: _id: 613c392b3bb0970018fe5dca,amount: 179379,currency: BRL,precision: 2
2,_id: 613c38e63bb0970018fe5da6,fees: _id: 613c38e63bb0970018fe5daa,name: CONDOMINIO,amount: _id: 613c38e63bb0970018fe5dab,amount: 40500,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dac,name: CONTASCONSUMO,amount: _id: 613c38e63bb0970018fe5dad,amount: 27000,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dae,name: IPTU,amount: _id: 613c38e63bb0970018fe5daf,amount: 19800,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5db0,name: LIMPEZA,amount: _id: 613c38e63bb0970018fe5db1,amount: 20000,currency: BRL,precision: 2,total: _id: 613c38e63bb0970018fe5da7,amount: 1287983,currency: BRL,precision: 2,grossAmount: _id: 613c38e63bb0970018fe5da8,amount: 1287983,currency: BRL,precision: 2,netAmount: _id: 613c38e63bb0970018fe5da9,amount: 1190983,currency: BRL,precision: 2
3,_id: 613c2c6b3bb0970018fe4cc8,fees: _id: 613c2c6b3bb0970018fe4ccc,name: condo,amount: _id: 613c2c6b3bb0970018fe4ccd,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cce,name: iptu,amount: _id: 613c2c6b3bb0970018fe4ccf,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd0,name: tvInternet,amount: _id: 613c2c6b3bb0970018fe4cd1,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd2,name: energyBill,amount: _id: 613c2c6b3bb0970018fe4cd3,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd4,name: cleaningTax,amount: _id: 613c2c6b3bb0970018fe4cd5,currency: BRL,precision: 2,amount: 5000,total: _id: 613c2c6b3bb0970018fe4cc9,amount: 345000,currency: BRL,precision: 2,grossAmount: _id: 613c2c6b3bb0970018fe4cca,amount: 345000
4,_id: 613c27c13bb0970018fe4c71,fees: _id: 613c27c13bb0970018fe4c75,name: CONDOMINIO,amount: _id: 613c27c13bb0970018fe4c76,amount: 105000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c77,name: CONTASCONSUMO,amount: _id: 613c27c13bb0970018fe4c78,amount: 42000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c79,name: IPTU,amount: _id: 613c27c13bb0970018fe4c7a,amount: 25000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c7b,name: LIMPEZA,amount: _id: 613c27c13bb0970018fe4c7c,amount: 20000,currency: BRL,precision: 2,total: _id: 613c27c13bb0970018fe4c72,amount: 632333,currency: BRL,precision: 2,grossAmount: _id: 613c27c13bb0970018fe4c73,amount: 632333,currency: BRL,precision: 2,netAmount: _id: 613c27c13bb0970018fe4c74,amount: 433333,currency: BRL,precision: 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,_id: 613acaf7ea924f00122dc1a8,fees: _id: 613acaf7ea924f00122dc1ac,name: CONDOMINIO,amount: _id: 613acaf7ea924f00122dc1ad,amount: 50400,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1ae,name: CONTASCONSUMO,amount: _id: 613acaf7ea924f00122dc1af,amount: 42000,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1b0,name: IPTU,amount: _id: 613acaf7ea924f00122dc1b1,amount: 12000,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1b2,name: LIMPEZA,amount: _id: 613acaf7ea924f00122dc1b3,amount: 20000,currency: BRL,precision: 2,total: _id: 613acaf7ea924f00122dc1a9,amount: 368112,currency: BRL,precision: 2,grossAmount: _id: 613acaf7ea924f00122dc1aa,amount: 368112,currency: BRL,precision: 2,netAmount: _id: 613acaf7ea924f00122dc1ab,amount: 236712,currency: BRL,precision: 2
96,_id: 613ac813ea924f00122dc140,fees: _id: 613ac813ea924f00122dc144,name: CONDOMINIO,amount: _id: 613ac813ea924f00122dc145,amount: 31500,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc146,name: CONTASCONSUMO,amount: _id: 613ac813ea924f00122dc147,amount: 42000,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc148,name: IPTU,amount: _id: 613ac813ea924f00122dc149,amount: 7500,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc14a,name: LIMPEZA,amount: _id: 613ac813ea924f00122dc14b,amount: 20000,currency: BRL,precision: 2,total: _id: 613ac813ea924f00122dc141,amount: 237313,currency: BRL,precision: 2,grossAmount: _id: 613ac813ea924f00122dc142,amount: 237313,currency: BRL,precision: 2,netAmount: _id: 613ac813ea924f00122dc143,amount: 129312,currency: BRL,precision: 2
97,_id: 613ac195ea924f00122dc027,fees: _id: 613ac195ea924f00122dc02b,name: CONDOMINIO,amount: _id: 613ac195ea924f00122dc02c,amount: 17792,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc02d,name: CONTASCONSUMO,amount: _id: 613ac195ea924f00122dc02e,amount: 21676,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc02f,name: IPTU,amount: _id: 613ac195ea924f00122dc030,amount: 11717,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc031,name: LIMPEZA,amount: _id: 613ac195ea924f00122dc032,amount: 20000,currency: BRL,precision: 2,total: _id: 613ac195ea924f00122dc028,amount: 270400,currency: BRL,precision: 2,grossAmount: _id: 613ac195ea924f00122dc029,amount: 270400,currency: BRL,precision: 2,netAmount: _id: 613ac195ea924f00122dc02a,amount: 215066,currency: BRL,precision: 2
98,_id: 613abe18ea924f00122dbdac,fees: _id: 613abe18ea924f00122dbdb0,name: CONDOMINIO,amount: _id: 613abe18ea924f00122dbdb1,amount: 15527,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb2,name: CONTASCONSUMO,amount: _id: 613abe18ea924f00122dbdb3,amount: 4095,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb4,name: IPTU,amount: _id: 613abe18ea924f00122dbdb5,amount: 1584,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb6,name: LIMPEZA,amount: _id: 613abe18ea924f00122dbdb7,amount: 20000,currency: BRL,precision: 2,total: _id: 613abe18ea924f00122dbdad,amount: 74385,currency: BRL,precision: 2,grossAmount: _id: 613abe18ea924f00122dbdae,amount: 78300,currency: BRL,precision: 2,netAmount: _id: 613abe18ea924f00122dbdaf,amount: 56550,currency: BRL,precision: 2
99,_id: 613abc9bea924f00122dbd60,fees: _id: 613abc9bea924f00122dbd64,name: CONDOMINIO,amount: _id: 613abc9bea924f00122dbd65,amount: 11944,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd66,name: CONTASCONSUMO,amount: _id: 613abc9bea924f00122dbd67,amount: 4095,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd68,name: IPTU,amount: _id: 613abc9bea924f00122dbd69,amount: 1219,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd6a,name: LIMPEZA,amount: _id: 613abc9bea924f00122dbd6b,amount: 20000,currency: BRL,precision: 2,total: _id: 613abc9bea924f00122dbd61,amount: 74385,currency: BRL,precision: 2,grossAmount: _id: 613abc9bea924f00122dbd62,amount: 78300,currency: BRL,precision: 2,netAmount: _id: 613abc9bea924f00122dbd63,amount: 60600,currency: BRL,precision: 2

In [61]:
df_cost.columns = df_cost.columns.map(str)
df_cost

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,_id: 613c425c3bb0970018fe5e2e,fees: _id: 613c425c3bb0970018fe5e32,name: CONDOMINIO,amount: _id: 613c425c3bb0970018fe5e33,amount: 52500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e34,name: CONTASCONSUMO,amount: _id: 613c425c3bb0970018fe5e35,amount: 42000,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e36,name: IPTU,amount: _id: 613c425c3bb0970018fe5e37,amount: 12500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e38,name: LIMPEZA,amount: _id: 613c425c3bb0970018fe5e39,amount: 20000,currency: BRL,precision: 2,total: _id: 613c425c3bb0970018fe5e2f,amount: 379038,currency: BRL,precision: 2,grossAmount: _id: 613c425c3bb0970018fe5e30,amount: 379038,currency: BRL,precision: 2,netAmount: _id: 613c425c3bb0970018fe5e31,amount: 183865,currency: BRL,precision: 2
1,_id: 613c392b3bb0970018fe5dc7,fees: _id: 613c392b3bb0970018fe5dcb,name: CONDOMINIO,amount: _id: 613c392b3bb0970018fe5dcc,amount: 51219,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcd,name: CONTASCONSUMO,amount: _id: 613c392b3bb0970018fe5dce,amount: 42000,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcf,name: IPTU,amount: _id: 613c392b3bb0970018fe5dd0,amount: 12195,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dd1,name: LIMPEZA,amount: _id: 613c392b3bb0970018fe5dd2,amount: 20000,currency: BRL,precision: 2,total: _id: 613c392b3bb0970018fe5dc8,amount: 353163,currency: BRL,precision: 2,grossAmount: _id: 613c392b3bb0970018fe5dc9,amount: 371751,currency: BRL,precision: 2,netAmount: _id: 613c392b3bb0970018fe5dca,amount: 179379,currency: BRL,precision: 2
2,_id: 613c38e63bb0970018fe5da6,fees: _id: 613c38e63bb0970018fe5daa,name: CONDOMINIO,amount: _id: 613c38e63bb0970018fe5dab,amount: 40500,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dac,name: CONTASCONSUMO,amount: _id: 613c38e63bb0970018fe5dad,amount: 27000,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dae,name: IPTU,amount: _id: 613c38e63bb0970018fe5daf,amount: 19800,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5db0,name: LIMPEZA,amount: _id: 613c38e63bb0970018fe5db1,amount: 20000,currency: BRL,precision: 2,total: _id: 613c38e63bb0970018fe5da7,amount: 1287983,currency: BRL,precision: 2,grossAmount: _id: 613c38e63bb0970018fe5da8,amount: 1287983,currency: BRL,precision: 2,netAmount: _id: 613c38e63bb0970018fe5da9,amount: 1190983,currency: BRL,precision: 2
3,_id: 613c2c6b3bb0970018fe4cc8,fees: _id: 613c2c6b3bb0970018fe4ccc,name: condo,amount: _id: 613c2c6b3bb0970018fe4ccd,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cce,name: iptu,amount: _id: 613c2c6b3bb0970018fe4ccf,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd0,name: tvInternet,amount: _id: 613c2c6b3bb0970018fe4cd1,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd2,name: energyBill,amount: _id: 613c2c6b3bb0970018fe4cd3,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd4,name: cleaningTax,amount: _id: 613c2c6b3bb0970018fe4cd5,currency: BRL,precision: 2,amount: 5000,total: _id: 613c2c6b3bb0970018fe4cc9,amount: 345000,currency: BRL,precision: 2,grossAmount: _id: 613c2c6b3bb0970018fe4cca,amount: 345000
4,_id: 613c27c13bb0970018fe4c71,fees: _id: 613c27c13bb0970018fe4c75,name: CONDOMINIO,amount: _id: 613c27c13bb0970018fe4c76,amount: 105000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c77,name: CONTASCONSUMO,amount: _id: 613c27c13bb0970018fe4c78,amount: 42000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c79,name: IPTU,amount: _id: 613c27c13bb0970018fe4c7a,amount: 25000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c7b,name: LIMPEZA,amount: _id: 613c27c13bb0970018fe4c7c,amount: 20000,currency: BRL,precision: 2,total: _id: 613c27c13bb0970018fe4c72,amount: 632333,currency: BRL,precision: 2,grossAmount: _id: 613c27c13bb0970018fe4c73,amount: 632333,currency: BRL,precision: 2,netAmount: _id: 613c27c13bb0970018fe4c74,amount: 433333,currency: BRL,precision: 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,_id: 613acaf7ea924f00122dc1a8,fees: _id: 613acaf7ea924f00122dc1ac,name: CONDOMINIO,amount: _id: 613acaf7ea924f00122dc1ad,amount: 50400,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1ae,name: CONTASCONSUMO,amount: _id: 613acaf7ea924f00122dc1af,amount: 42000,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1b0,name: IPTU,amount: _id: 613acaf7ea924f00122dc1b1,amount: 12000,currency: BRL,precision: 2,_id: 613acaf7ea924f00122dc1b2,name: LIMPEZA,amount: _id: 613acaf7ea924f00122dc1b3,amount: 20000,currency: BRL,precision: 2,total: _id: 613acaf7ea924f00122dc1a9,amount: 368112,currency: BRL,precision: 2,grossAmount: _id: 613acaf7ea924f00122dc1aa,amount: 368112,currency: BRL,precision: 2,netAmount: _id: 613acaf7ea924f00122dc1ab,amount: 236712,currency: BRL,precision: 2
96,_id: 613ac813ea924f00122dc140,fees: _id: 613ac813ea924f00122dc144,name: CONDOMINIO,amount: _id: 613ac813ea924f00122dc145,amount: 31500,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc146,name: CONTASCONSUMO,amount: _id: 613ac813ea924f00122dc147,amount: 42000,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc148,name: IPTU,amount: _id: 613ac813ea924f00122dc149,amount: 7500,currency: BRL,precision: 2,_id: 613ac813ea924f00122dc14a,name: LIMPEZA,amount: _id: 613ac813ea924f00122dc14b,amount: 20000,currency: BRL,precision: 2,total: _id: 613ac813ea924f00122dc141,amount: 237313,currency: BRL,precision: 2,grossAmount: _id: 613ac813ea924f00122dc142,amount: 237313,currency: BRL,precision: 2,netAmount: _id: 613ac813ea924f00122dc143,amount: 129312,currency: BRL,precision: 2
97,_id: 613ac195ea924f00122dc027,fees: _id: 613ac195ea924f00122dc02b,name: CONDOMINIO,amount: _id: 613ac195ea924f00122dc02c,amount: 17792,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc02d,name: CONTASCONSUMO,amount: _id: 613ac195ea924f00122dc02e,amount: 21676,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc02f,name: IPTU,amount: _id: 613ac195ea924f00122dc030,amount: 11717,currency: BRL,precision: 2,_id: 613ac195ea924f00122dc031,name: LIMPEZA,amount: _id: 613ac195ea924f00122dc032,amount: 20000,currency: BRL,precision: 2,total: _id: 613ac195ea924f00122dc028,amount: 270400,currency: BRL,precision: 2,grossAmount: _id: 613ac195ea924f00122dc029,amount: 270400,currency: BRL,precision: 2,netAmount: _id: 613ac195ea924f00122dc02a,amount: 215066,currency: BRL,precision: 2
98,_id: 613abe18ea924f00122dbdac,fees: _id: 613abe18ea924f00122dbdb0,name: CONDOMINIO,amount: _id: 613abe18ea924f00122dbdb1,amount: 15527,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb2,name: CONTASCONSUMO,amount: _id: 613abe18ea924f00122dbdb3,amount: 4095,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb4,name: IPTU,amount: _id: 613abe18ea924f00122dbdb5,amount: 1584,currency: BRL,precision: 2,_id: 613abe18ea924f00122dbdb6,name: LIMPEZA,amount: _id: 613abe18ea924f00122dbdb7,amount: 20000,currency: BRL,precision: 2,total: _id: 613abe18ea924f00122dbdad,amount: 74385,currency: BRL,precision: 2,grossAmount: _id: 613abe18ea924f00122dbdae,amount: 78300,currency: BRL,precision: 2,netAmount: _id: 613abe18ea924f00122dbdaf,amount: 56550,currency: BRL,precision: 2
99,_id: 613abc9bea924f00122dbd60,fees: _id: 613abc9bea924f00122dbd64,name: CONDOMINIO,amount: _id: 613abc9bea924f00122dbd65,amount: 11944,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd66,name: CONTASCONSUMO,amount: _id: 613abc9bea924f00122dbd67,amount: 4095,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd68,name: IPTU,amount: _id: 613abc9bea924f00122dbd69,amount: 1219,currency: BRL,precision: 2,_id: 613abc9bea924f00122dbd6a,name: LIMPEZA,amount: _id: 613abc9bea924f00122dbd6b,amount: 20000,currency: BRL,precision: 2,total: _id: 613abc9bea924f00122dbd61,amount: 74385,currency: BRL,precision: 2,grossAmount: _id: 613abc9bea924f00122dbd62,amount: 78300,currency: BRL,precision: 2,netAmount: _id: 613abc9bea924f00122dbd63,amount: 60600,currency: BRL,precision: 2

In [62]:
for item in df_cost['0']:
    print(item)

_id: 613c425c3bb0970018fe5e2e
_id: 613c392b3bb0970018fe5dc7
_id: 613c38e63bb0970018fe5da6
_id: 613c2c6b3bb0970018fe4cc8
_id: 613c27c13bb0970018fe4c71
_id: 613c269b3bb0970018fe4c51
_id: 613c219a3bb0970018fe4bd8
_id: 613c17153bb0970018fe4b01
_id: 613c16a43bb0970018fe4ae1
_id: 613c0f5c3bb0970018fe400b
_id: 613c0dc93bb0970018fe3f29
_id: 613c0ade3bb0970018fe3ef7
_id: 613bfb373bb0970018fe2bce
_id: 613bfa4a3bb0970018fe2ba0
_id: 613bf9523bb0970018fe2b1c
_id: 613bf9143bb0970018fe2aef
_id: 613bf2c83bb0970018fe2a27
_id: 613bf0053bb0970018fe29a8
_id: 613bee463bb0970018fe296e
_id: 613bebb23bb0970018fe2895
_id: 613beab83bb0970018fe2754
_id: 613be5a23bb0970018fe1305
_id: 613be4de3bb0970018fe123f
_id: 613be40c3bb0970018fe1169
_id: 613be2f83bb0970018fe101f
_id: 613be28e3bb0970018fe0f7f
_id: 613be2653bb0970018fe0ece
_id: 613be18f3bb0970018fe0e10
_id: 613be0053bb0970018fdf169
_id: 613bdf5f3bb0970018fdf0a8
_id: 613bdc393bb0970018fdef30
_id: 613bd1763bb0970018fdc9f8
_id: 613bc718ea924f0012319b33
_id: 613bc4e9ea924f00123199ec
_id: 613bc110ea924f00123175ae
_id: 613bc047ea924f0012317559
_id: 613bbf9cea924f0012317509
_id: 613bbde1ea924f0012313547
_id: 613bbbc5ea924f00123134e6
_id: 613bb6a7ea924f0012312677
_id: 613bb0c2ea924f001230f3b2
_id: 613bb01fea924f001230f2f6
_id: 613bae93ea924f001230e72a
_id: 613bae83ea924f001230e6fc
_id: 613badedea924f001230e5ed
_id: 613bad86ea924f001230e50b
_id: 613bad57ea924f001230e3b6
_id: 613bacbfea924f001230e1d3
_id: 613ba8efea924f001230db22
_id: 613ba826ea924f001230daf5
_id: 613ba4f1ea924f001230da91
_id: 613ba490ea924f001230da60
_id: 613ba319ea924f001230da2f
_id: 613ba147ea924f001230d8d9
_id: 613b9ce8ea924f001230d539
_id: 613b99c4ea924f001230d11b
_id: 613b9791ea924f001230820e
_id: 613b9534ea924f0012305741
_id: 613b91c3ea924f0012305478
_id: 613b90beea924f00123053b9
_id: 613b85acea924f00123049cd
_id: 613b83c5ea924f00123047cf
_id: 613b829eea924f0012304709
_id: 613b821eea924f00123046e9
_id: 613b7403ea924f00122e564e
_id: 613b72efea924f00122e5603
_id: 613b725aea924f00122e5576
_id: 613b717bea924f00122e54a5
_id: 613b704eea924f00122e5364
_id: 613b6ffeea924f00122e5336
_id: 613b6cc1ea924f00122e4663
_id: 613b6841ea924f00122e3551
_id: 613b63f4ea924f00122e285f
_id: 613b6149ea924f00122e265c
_id: 613b60edea924f00122e2608
_id: 613b5e1cea924f00122e2520
_id: 613b5d7dea924f00122e24cf
_id: 613b5c80ea924f00122e24a0
_id: 613b4bc3ea924f00122de3af
_id: 613b48c3ea924f00122de359
_id: 613b438eea924f00122ddf11
_id: 613b38c4ea924f00122dceb4
_id: 613b26fcea924f00122dcc59
_id: 613b196fea924f00122dcb60
_id: 613addf6ea924f00122dc62f
_id: 613adc19ea924f00122dc5db
_id: 613adaeeea924f00122dc5ae
_id: 613ad716ea924f00122dc537
_id: 613ad630ea924f00122dc468
_id: 613ad523ea924f00122dc41f
_id: 613ad3cfea924f00122dc3d8
_id: 613ad1c8ea924f00122dc339
_id: 613ad154ea924f00122dc302
_id: 613ad0dfea924f00122dc2bb
_id: 613acdedea924f00122dc23b
_id: 613acaf7ea924f00122dc1a8
_id: 613ac813ea924f00122dc140
_id: 613ac195ea924f00122dc027
_id: 613abe18ea924f00122dbdac
_id: 613abc9bea924f00122dbd60

In [63]:
pd.set_option('display.max_columns', None)
df_cost.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,_id: 613c425c3bb0970018fe5e2e,fees: _id: 613c425c3bb0970018fe5e32,name: CONDOMINIO,amount: _id: 613c425c3bb0970018fe5e33,amount: 52500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e34,name: CONTASCONSUMO,amount: _id: 613c425c3bb0970018fe5e35,amount: 42000,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e36,name: IPTU,amount: _id: 613c425c3bb0970018fe5e37,amount: 12500,currency: BRL,precision: 2,_id: 613c425c3bb0970018fe5e38,name: LIMPEZA,amount: _id: 613c425c3bb0970018fe5e39,amount: 20000,currency: BRL,precision: 2,total: _id: 613c425c3bb0970018fe5e2f,amount: 379038,currency: BRL,precision: 2,grossAmount: _id: 613c425c3bb0970018fe5e30,amount: 379038,currency: BRL,precision: 2,netAmount: _id: 613c425c3bb0970018fe5e31,amount: 183865,currency: BRL,precision: 2
1,_id: 613c392b3bb0970018fe5dc7,fees: _id: 613c392b3bb0970018fe5dcb,name: CONDOMINIO,amount: _id: 613c392b3bb0970018fe5dcc,amount: 51219,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcd,name: CONTASCONSUMO,amount: _id: 613c392b3bb0970018fe5dce,amount: 42000,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dcf,name: IPTU,amount: _id: 613c392b3bb0970018fe5dd0,amount: 12195,currency: BRL,precision: 2,_id: 613c392b3bb0970018fe5dd1,name: LIMPEZA,amount: _id: 613c392b3bb0970018fe5dd2,amount: 20000,currency: BRL,precision: 2,total: _id: 613c392b3bb0970018fe5dc8,amount: 353163,currency: BRL,precision: 2,grossAmount: _id: 613c392b3bb0970018fe5dc9,amount: 371751,currency: BRL,precision: 2,netAmount: _id: 613c392b3bb0970018fe5dca,amount: 179379,currency: BRL,precision: 2
2,_id: 613c38e63bb0970018fe5da6,fees: _id: 613c38e63bb0970018fe5daa,name: CONDOMINIO,amount: _id: 613c38e63bb0970018fe5dab,amount: 40500,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dac,name: CONTASCONSUMO,amount: _id: 613c38e63bb0970018fe5dad,amount: 27000,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5dae,name: IPTU,amount: _id: 613c38e63bb0970018fe5daf,amount: 19800,currency: BRL,precision: 2,_id: 613c38e63bb0970018fe5db0,name: LIMPEZA,amount: _id: 613c38e63bb0970018fe5db1,amount: 20000,currency: BRL,precision: 2,total: _id: 613c38e63bb0970018fe5da7,amount: 1287983,currency: BRL,precision: 2,grossAmount: _id: 613c38e63bb0970018fe5da8,amount: 1287983,currency: BRL,precision: 2,netAmount: _id: 613c38e63bb0970018fe5da9,amount: 1190983,currency: BRL,precision: 2
3,_id: 613c2c6b3bb0970018fe4cc8,fees: _id: 613c2c6b3bb0970018fe4ccc,name: condo,amount: _id: 613c2c6b3bb0970018fe4ccd,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cce,name: iptu,amount: _id: 613c2c6b3bb0970018fe4ccf,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd0,name: tvInternet,amount: _id: 613c2c6b3bb0970018fe4cd1,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd2,name: energyBill,amount: _id: 613c2c6b3bb0970018fe4cd3,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd4,name: cleaningTax,amount: _id: 613c2c6b3bb0970018fe4cd5,currency: BRL,precision: 2,amount: 5000,total: _id: 613c2c6b3bb0970018fe4cc9,amount: 345000,currency: BRL,precision: 2,grossAmount: _id: 613c2c6b3bb0970018fe4cca,amount: 345000
4,_id: 613c27c13bb0970018fe4c71,fees: _id: 613c27c13bb0970018fe4c75,name: CONDOMINIO,amount: _id: 613c27c13bb0970018fe4c76,amount: 105000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c77,name: CONTASCONSUMO,amount: _id: 613c27c13bb0970018fe4c78,amount: 42000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c79,name: IPTU,amount: _id: 613c27c13bb0970018fe4c7a,amount: 25000,currency: BRL,precision: 2,_id: 613c27c13bb0970018fe4c7b,name: LIMPEZA,amount: _id: 613c27c13bb0970018fe4c7c,amount: 20000,currency: BRL,precision: 2,total: _id: 613c27c13bb0970018fe4c72,amount: 632333,currency: BRL,precision: 2,grossAmount: _id: 613c27c13bb0970018fe4c73,amount: 632333,currency: BRL,precision: 2,netAmount: _id: 613c27c13bb0970018fe4c74,amount: 433333,currency: BRL,precision: 2

In [64]:
df_cost['0'] = df_cost['0'].str.replace('_id: ', '')
df_cost['1'] = df_cost['1'].str.replace('fees: _id: ', '')
df_cost['2'] = df_cost['2'].str.replace('name: ', '')
df_cost['3'] = df_cost['3'].str.replace('amount: _id: ', '')
df_cost['4'] = df_cost['4'].str.replace('amount: ', '')
df_cost['5'] = df_cost['5'].str.replace('currency: ', '')
df_cost['6'] = df_cost['6'].str.replace('precision: ', '')
df_cost['7'] = df_cost['7'].str.replace('_id: ', '')
df_cost['8'] = df_cost['8'].str.replace('name: ', '')
df_cost['9'] = df_cost['9'].str.replace('amount: _id: ', '')
df_cost['10'] = df_cost['10'].str.replace('amount: ', '')
df_cost['11'] = df_cost['11'].str.replace('currency: ', '')
df_cost['12'] = df_cost['12'].str.replace('precision: ', '')
df_cost['13'] = df_cost['13'].str.replace('_id: ', '')
df_cost['14'] = df_cost['14'].str.replace('name: ', '')
df_cost['15'] = df_cost['15'].str.replace('amount: _id: ', '')
df_cost['16'] = df_cost['16'].str.replace('amount: ', '')
df_cost['17'] = df_cost['17'].str.replace('currency: ', '')
df_cost['18'] = df_cost['18'].str.replace('precision: ', '')
df_cost['19'] = df_cost['19'].str.replace('_id: ', '')
df_cost['20'] = df_cost['20'].str.replace('name: ', '')
df_cost['21'] = df_cost['21'].str.replace('amount: _id: ', '')
df_cost['22'] = df_cost['22'].str.replace('amount: ', '')
df_cost['23'] = df_cost['23'].str.replace('currency: ', '')
df_cost['24'] = df_cost['24'].str.replace('precision: ', '')
df_cost['25'] = df_cost['25'].str.replace('total: _id: ', '')
df_cost['26'] = df_cost['26'].str.replace('amount: ', '')
df_cost['27'] = df_cost['27'].str.replace('currency: ', '')
df_cost['28'] = df_cost['28'].str.replace('precision: ', '')
df_cost['29'] = df_cost['29'].str.replace('grossAmount: _id: ', '')
df_cost['30'] = df_cost['30'].str.replace('amount: ', '')
df_cost['31'] = df_cost['31'].str.replace('currency: ', '')
df_cost['32'] = df_cost['32'].str.replace('precision: ', '')
df_cost['33'] = df_cost['33'].str.replace('netAmount: _id: ', '')
df_cost['34'] = df_cost['34'].str.replace('amount: ', '')
df_cost['35'] = df_cost['35'].str.replace('currency: ', '')
df_cost['36'] = df_cost['36'].str.replace('precision: ', '')



df_cost = df_cost.rename(columns={'0': 'cost_id', '1': 'fees_id', '2': 'condominio', '3': 'condo_amount_id', 
                                     '4': 'condo_amount', '5': 'moeda_condo', '6': 'precision_condo', '7': 'conta_consumo_id', 
                                     '8': 'conta_consumo', '9': 'conta_consumo_amount_id', '10': 'conta_consumo_amount', 
                                     '11': 'moeda_cont_consumo', '12': 'precision_conta_consumo', '13': 'iptu_id', '14': 'iptu', 
                                     '15': 'iptu_amount_id', '16': 'iptu_amount', '17': 'moeda_iptu', '18': 'precision_iptu', 
                                     '19': 'limpeza_id', '20': 'limpeza', '21': 'limpeza_amount_id', '22': 'limpeza_amount', 
                                     '23': 'moeda_limpeza', '24': 'precision_limpeza', '25': 'total_id', '26': 'total_amount', 
                                     '27': 'moeda_total', '28': 'precision_total', '29': 'valor_bruto_id', '30': 'valor_bruto', 
                                     '31': 'moeda_valor_bruto', '32': 'precision_valor_bruto', '33': 'valor_liq_id', 
                                     '34': 'valor_liq', '35': 'moeda_valor_liq', '36': 'precision_valor_liq'})

display(df_cost.head())

,cost_id,fees_id,condominio,condo_amount_id,condo_amount,moeda_condo,precision_condo,conta_consumo_id,conta_consumo,conta_consumo_amount_id,conta_consumo_amount,moeda_cont_consumo,precision_conta_consumo,iptu_id,iptu,iptu_amount_id,iptu_amount,moeda_iptu,precision_iptu,limpeza_id,limpeza,limpeza_amount_id,limpeza_amount,moeda_limpeza,precision_limpeza,total_id,total_amount,moeda_total,precision_total,valor_bruto_id,valor_bruto,moeda_valor_bruto,precision_valor_bruto,valor_liq_id,valor_liq,moeda_valor_liq,precision_valor_liq
0,613c425c3bb0970018fe5e2e,613c425c3bb0970018fe5e32,CONDOMINIO,613c425c3bb0970018fe5e33,52500,BRL,2,613c425c3bb0970018fe5e34,CONTASCONSUMO,613c425c3bb0970018fe5e35,42000,BRL,2,613c425c3bb0970018fe5e36,IPTU,613c425c3bb0970018fe5e37,12500,BRL,2,613c425c3bb0970018fe5e38,LIMPEZA,613c425c3bb0970018fe5e39,20000,BRL,2,613c425c3bb0970018fe5e2f,379038,BRL,2,613c425c3bb0970018fe5e30,379038,BRL,2,613c425c3bb0970018fe5e31,183865,BRL,2
1,613c392b3bb0970018fe5dc7,613c392b3bb0970018fe5dcb,CONDOMINIO,613c392b3bb0970018fe5dcc,51219,BRL,2,613c392b3bb0970018fe5dcd,CONTASCONSUMO,613c392b3bb0970018fe5dce,42000,BRL,2,613c392b3bb0970018fe5dcf,IPTU,613c392b3bb0970018fe5dd0,12195,BRL,2,613c392b3bb0970018fe5dd1,LIMPEZA,613c392b3bb0970018fe5dd2,20000,BRL,2,613c392b3bb0970018fe5dc8,353163,BRL,2,613c392b3bb0970018fe5dc9,371751,BRL,2,613c392b3bb0970018fe5dca,179379,BRL,2
2,613c38e63bb0970018fe5da6,613c38e63bb0970018fe5daa,CONDOMINIO,613c38e63bb0970018fe5dab,40500,BRL,2,613c38e63bb0970018fe5dac,CONTASCONSUMO,613c38e63bb0970018fe5dad,27000,BRL,2,613c38e63bb0970018fe5dae,IPTU,613c38e63bb0970018fe5daf,19800,BRL,2,613c38e63bb0970018fe5db0,LIMPEZA,613c38e63bb0970018fe5db1,20000,BRL,2,613c38e63bb0970018fe5da7,1287983,BRL,2,613c38e63bb0970018fe5da8,1287983,BRL,2,613c38e63bb0970018fe5da9,1190983,BRL,2
3,613c2c6b3bb0970018fe4cc8,613c2c6b3bb0970018fe4ccc,condo,613c2c6b3bb0970018fe4ccd,currency: BRL,precision: 2,amount: 0,613c2c6b3bb0970018fe4cce,iptu,613c2c6b3bb0970018fe4ccf,currency: BRL,precision: 2,amount: 0,613c2c6b3bb0970018fe4cd0,tvInternet,613c2c6b3bb0970018fe4cd1,currency: BRL,precision: 2,amount: 0,613c2c6b3bb0970018fe4cd2,energyBill,613c2c6b3bb0970018fe4cd3,currency: BRL,precision: 2,amount: 0,_id: 613c2c6b3bb0970018fe4cd4,name: cleaningTax,amount: _id: 613c2c6b3bb0970018fe4cd5,currency: BRL,precision: 2,5000,total: _id: 613c2c6b3bb0970018fe4cc9,amount: 345000,currency: BRL,precision: 2,grossAmount: _id: 613c2c6b3bb0970018fe4cca,amount: 345000
4,613c27c13bb0970018fe4c71,613c27c13bb0970018fe4c75,CONDOMINIO,613c27c13bb0970018fe4c76,105000,BRL,2,613c27c13bb0970018fe4c77,CONTASCONSUMO,613c27c13bb0970018fe4c78,42000,BRL,2,613c27c13bb0970018fe4c79,IPTU,613c27c13bb0970018fe4c7a,25000,BRL,2,613c27c13bb0970018fe4c7b,LIMPEZA,613c27c13bb0970018fe4c7c,20000,BRL,2,613c27c13bb0970018fe4c72,632333,BRL,2,613c27c13bb0970018fe4c73,632333,BRL,2,613c27c13bb0970018fe4c74,433333,BRL,2

In [65]:
def l_space(df):
    df = df.str.strip()
    return df

In [66]:
df_cost['cost_id'] = l_space(df_cost['cost_id'])
df_cost['fees_id'] = l_space(df_cost['fees_id'])
df_cost['condominio'] = l_space(df_cost['condominio'])
df_cost['condo_amount_id'] = l_space(df_cost['condo_amount_id'])
df_cost['condo_amount'] = l_space(df_cost['condo_amount'])
df_cost['moeda_condo'] = l_space(df_cost['moeda_condo'])
df_cost['precision_condo'] = l_space(df_cost['precision_condo'])
df_cost['conta_consumo_id'] = l_space(df_cost['conta_consumo_id'])
df_cost['conta_consumo'] = l_space(df_cost['conta_consumo'])
df_cost['conta_consumo_amount_id'] = l_space(df_cost['conta_consumo_amount_id'])
df_cost['conta_consumo_amount'] = l_space(df_cost['conta_consumo_amount'])
df_cost['moeda_cont_consumo'] = l_space(df_cost['moeda_cont_consumo'])
df_cost['precision_conta_consumo'] = l_space(df_cost['precision_conta_consumo'])
df_cost['iptu_id'] = l_space(df_cost['iptu_id'])
df_cost['iptu'] = l_space(df_cost['iptu'])
df_cost['iptu_amount_id'] = l_space(df_cost['iptu_amount_id'])
df_cost['iptu_amount'] = l_space(df_cost['iptu_amount'])
df_cost['moeda_iptu'] = l_space(df_cost['moeda_iptu'])
df_cost['precision_iptu'] = l_space(df_cost['precision_iptu'])
df_cost['limpeza_id'] = l_space(df_cost['limpeza_id'])
df_cost['limpeza'] = l_space(df_cost['limpeza'])
df_cost['limpeza_amount_id'] = l_space(df_cost['limpeza_amount_id'])
df_cost['limpeza_amount'] = l_space(df_cost['limpeza_amount'])
df_cost['moeda_limpeza'] = l_space(df_cost['moeda_limpeza'])
df_cost['precision_limpeza'] = l_space(df_cost['precision_limpeza'])
df_cost['total_id'] = l_space(df_cost['total_id'])
df_cost['total_amount'] = l_space(df_cost['total_amount'])
df_cost['moeda_total'] = l_space(df_cost['moeda_total'])
df_cost['precision_total'] = l_space(df_cost['precision_total'])
df_cost['valor_bruto_id'] = l_space(df_cost['valor_bruto_id'])
df_cost['valor_bruto'] = l_space(df_cost['valor_bruto'])
df_cost['moeda_valor_bruto'] = l_space(df_cost['moeda_valor_bruto'])
df_cost['precision_valor_bruto'] = l_space(df_cost['precision_valor_bruto'])
df_cost['valor_liq_id'] = l_space(df_cost['valor_liq_id'])
df_cost['valor_liq'] = l_space(df_cost['valor_liq'])
df_cost['moeda_valor_liq'] = l_space(df_cost['moeda_valor_liq'])
df_cost['precision_valor_liq'] = l_space(df_cost['precision_valor_liq'])

In [67]:
df_cost.to_excel('tabela_cost.xlsx')