In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
df = pd.read_excel(r'carrinho_abandonado_.xlsx')
display(df)

,Unnamed: 0,Unnamed: 0.1,status,channel,isSubscription,hubServices,_id,property,partner,checkIn,checkOut,guests,user,cost,aliasId,staysId,statuses,createdAt,updatedAt,coupon
0,0,0,BOOKED,SITE,True,[],613c425c3bb0970018fe5e28,"{'_id': '60184c355926f200120943a0', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c425c3...","{'_id': '613c425c3bb0970018fe5e2b', 'date': '2...","{'_id': '613c425c3bb0970018fe5e2c', 'date': '2...","{'children': 0, '_id': '613c425c3bb0970018fe5e...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c425c3bb0970018fe5e2e', 'fees': [{...",WO60G,613c425b7e3cb113b0501e66,"[{'name': 'BOOKED', 'createdAt': '2021-09-11T0...",2021-09-11T05:45:00.318Z,2021-09-11T05:47:23.534Z,NaN
1,1,1,EXPIRED,SITE,True,[],613c392b3bb0970018fe5dc0,"{'_id': '612e760822292e00183783b7', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c392b3...","{'_id': '613c392b3bb0970018fe5dc4', 'date': '2...","{'_id': '613c392b3bb0970018fe5dc5', 'date': '2...","{'children': 0, '_id': '613c392b3bb0970018fe5d...","{'_id': '60e29fd66f88030011d43afa', 'staysId':...","{'_id': '613c392b3bb0970018fe5dc7', 'fees': [{...",WO59G,613c392a04b00a7460d739a8,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:05:47.239Z,2021-09-11T05:11:03.201Z,"{'_id': '613c392b3bb0970018fe5dc3', 'kind': 'p..."
2,2,2,EXPIRED,APP,False,[],613c38e63bb0970018fe5da0,"{'_id': '60184c165926f20012084419', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c38e63...","{'_id': '613c38e63bb0970018fe5da3', 'date': '2...","{'_id': '613c38e63bb0970018fe5da4', 'date': '2...","{'children': 0, '_id': '613c38e63bb0970018fe5d...","{'_id': '6104a8a66063550018c19e15', 'staysId':...","{'_id': '613c38e63bb0970018fe5da6', 'fees': [{...",WQ50G,613c38e5f02666a9301cee49,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T05:04:38.217Z,2021-09-11T05:10:08.161Z,NaN
3,3,3,EXPIRED,SITE,True,[],613c2c6b3bb0970018fe4cc2,"{'_id': '60e7706840c84200118c302d', 'aliasId':...","{'integrationType': 'HOUSI', '_id': '613c2c6b3...","{'_id': '613c2c6b3bb0970018fe4cc5', 'date': '2...","{'_id': '613c2c6b3bb0970018fe4cc6', 'date': '2...","{'children': 0, '_id': '613c2c6b3bb0970018fe4c...","{'_id': '60e744236f88030011d44c67', 'staysId':...","{'_id': '613c2c6b3bb0970018fe4cc8', 'fees': [{...",TE8D4P,NaN,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T04:11:23.608Z,2021-09-11T04:17:07.480Z,NaN
4,4,4,EXPIRED,SITE,True,[],613c27c13bb0970018fe4c6b,"{'_id': '60184c3f5926f20012096ff5', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613c27c13...","{'_id': '613c27c13bb0970018fe4c6e', 'date': '2...","{'_id': '613c27c13bb0970018fe4c6f', 'date': '2...","{'children': 0, '_id': '613c27c13bb0970018fe4c...","{'_id': '612e6a3c6063550018c2118c', 'staysId':...","{'_id': '613c27c13bb0970018fe4c71', 'fees': [{...",YY16G,613c27c1af7781c693f73a7c,"[{'name': 'EXPIRED', 'createdAt': '2021-09-11T...",2021-09-11T03:51:29.732Z,2021-09-11T03:57:12.673Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,95,EXPIRED,APP,True,[],613acaf7ea924f00122dc1a2,"{'_id': '60d6d23d811ae30018870b8d', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613acaf7e...","{'_id': '613acaf7ea924f00122dc1a5', 'date': '2...","{'_id': '613acaf7ea924f00122dc1a6', 'date': '2...","{'children': 0, '_id': '613acaf7ea924f00122dc1...","{'_id': '5f637012aad56f0018b52bb4', 'staysId':...","{'_id': '613acaf7ea924f00122dc1a8', 'fees': [{...",WR85G,613acaf7a13dba4685dab548,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T03:03:19.636Z,2021-09-10T03:09:07.044Z,NaN
96,96,96,EXPIRED,SITE,True,[],613ac813ea924f00122dc13a,"{'_id': '60184c3d5926f20012095d54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac813e...","{'_id': '613ac813ea924f00122dc13d', 'date': '2...","{'_id': '613ac813ea924f00122dc13e', 'date': '2...","{'children': 0, '_id': '613ac813ea924f00122dc1...","{'_id': '613a6c1f6063550018c23d5f', 'staysId':...","{'_id': '613ac813ea924f00122dc140', 'fees': [{...",XD75G,613ac813258ec19d3c1386dd,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:50:59.719Z,2021-09-10T02:56:08.679Z,NaN
97,97,97,WAITING_PAYMENT,SITE,False,[],613ac195ea924f00122dc021,"{'_id': '60184c3d5926f20012095f39', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613ac195e...","{'_id': '613ac195ea924f00122dc024', 'date': '2...","{'_id': '613ac195ea924f00122dc025', 'date': '2...","{'children': 0, '_id': '613ac195ea924f00122dc0...","{'_id': '5fe6539f3dac140011abc254', 'staysId':...","{'_id': '613ac195ea924f00122dc027', 'fees': [{...",WI112G,613ac195a13dba5c9edab499,"[{'name': 'WAITING_PAYMENT', 'createdAt': '202...",2021-09-10T02:23:17.952Z,2021-09-10T02:23:43.632Z,NaN
98,98,98,BOOKED,APP,False,[],613abe18ea924f00122dbda5,"{'_id': '60184c135926f20012082d1a', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abe18e...","{'_id': '613abe18ea924f00122dbda9', 'date': '2...","{'_id': '613abe18ea924f00122dbdaa', 'date': '2...","{'children': 0, '_id': '613abe18ea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abe18ea924f00122dbdac', 'fees': [{...",XD74G,613abe17a13dba8835dab405,"[{'name': 'BOOKED', 'createdAt': '2021-09-10T0...",2021-09-10T02:08:24.439Z,2021-09-10T02:08:32.241Z,"{'_id': '613abe18ea924f00122dbda8', 'kind': 'p..."
99,99,99,EXPIRED,APP,False,[],613abc9bea924f00122dbd59,"{'_id': '60184c125926f20012082b54', 'aliasId':...","{'integrationType': 'STAYS', '_id': '613abc9be...","{'_id': '613abc9bea924f00122dbd5d', 'date': '2...","{'_id': '613abc9bea924f00122dbd5e', 'date': '2...","{'children': 0, '_id': '613abc9bea924f00122dbd...","{'_id': '6131edc26063550018c21e25', 'staysId':...","{'_id': '613abc9bea924f00122dbd60', 'fees': [{...",XD73G,613abc99258ec1c944138605,"[{'name': 'EXPIRED', 'createdAt': '2021-09-10T...",2021-09-10T02:02:03.060Z,2021-09-10T02:07:09.903Z,"{'_id': '613abc9bea924f00122dbd5c', 'kind': 'p..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      100 non-null    int64
 1   Unnamed: 0.1    100 non-null    int64
 2   status          100 non-null    object
 3   channel         100 non-null    object
 4   isSubscription  100 non-null    bool
 5   hubServices     100 non-null    object
 6   _id             100 non-null    object
 7   property        100 non-null    object
 8   partner         100 non-null    object
 9   checkIn         100 non-null    object
 10  checkOut        100 non-null    object
 11  guests          100 non-null    object
 12  user            100 non-null    object
 13  cost            100 non-null    object
 14  aliasId         100 non-null    object
 15  staysId         88 non-null     object
 16  statuses        100 non-null    object
 17  createdAt       100 non-null    object
 18  updatedAt       100 non-null    object
 19  coupon          20 non-null     object
dtypes: bool(1), int64(2), object(17)
memory usage: 15.1+ KB

In [4]:
display(df[['partner']])

                                              partner
0   {'integrationType': 'STAYS', '_id': '613c425c3...
1   {'integrationType': 'STAYS', '_id': '613c392b3...
2   {'integrationType': 'STAYS', '_id': '613c38e63...
3   {'integrationType': 'HOUSI', '_id': '613c2c6b3...
4   {'integrationType': 'STAYS', '_id': '613c27c13...
..                                                ...
95  {'integrationType': 'STAYS', '_id': '613acaf7e...
96  {'integrationType': 'STAYS', '_id': '613ac813e...
97  {'integrationType': 'STAYS', '_id': '613ac195e...
98  {'integrationType': 'STAYS', '_id': '613abe18e...
99  {'integrationType': 'STAYS', '_id': '613abc9be...

[100 rows x 1 columns]

In [5]:
df_partner = df['partner'].str.split(',', expand=True)
df_partner

,0,1,2,3,4
0,{'integrationType': 'STAYS','_id': '613c425c3bb0970018fe5e2a','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
1,{'integrationType': 'STAYS','_id': '613c392b3bb0970018fe5dc2','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
2,{'integrationType': 'STAYS','_id': '613c38e63bb0970018fe5da2','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
3,{'integrationType': 'HOUSI','_id': '613c2c6b3bb0970018fe4cc4','aliasId': 'GKN4U','name1': 'Atlantica Gestão Patrimonial Brasil','name2': 'Atlantica Hotels International'}
4,{'integrationType': 'STAYS','_id': '613c27c13bb0970018fe4c6d','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
...,...,...,...,...,...
95,{'integrationType': 'STAYS','_id': '613acaf7ea924f00122dc1a4','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
96,{'integrationType': 'STAYS','_id': '613ac813ea924f00122dc13c','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
97,{'integrationType': 'STAYS','_id': '613ac195ea924f00122dc023','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
98,{'integrationType': 'STAYS','_id': '613abe18ea924f00122dbda7','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}
99,{'integrationType': 'STAYS','_id': '613abc9bea924f00122dbd5b','aliasId': 'HOUSI','name1': 'Housi gestão patrimonial','name2': 'Housi'}

In [6]:
df_partner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    object
 1   1       100 non-null    object
 2   2       100 non-null    object
 3   3       100 non-null    object
 4   4       100 non-null    object
dtypes: object(5)
memory usage: 4.0+ KB

In [7]:
df_partner=df_partner.replace('{','',regex=True)
df_partner=df_partner.replace('}','',regex=True)
df_partner=df_partner.replace('\[','',regex=True)
df_partner=df_partner.replace(']','',regex=True)
df_partner=df_partner.replace("'",'',regex=True)
df_partner

,0,1,2,3,4
0,integrationType: STAYS,_id: 613c425c3bb0970018fe5e2a,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
1,integrationType: STAYS,_id: 613c392b3bb0970018fe5dc2,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
2,integrationType: STAYS,_id: 613c38e63bb0970018fe5da2,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
3,integrationType: HOUSI,_id: 613c2c6b3bb0970018fe4cc4,aliasId: GKN4U,name1: Atlantica Gestão Patrimonial Brasil,name2: Atlantica Hotels International
4,integrationType: STAYS,_id: 613c27c13bb0970018fe4c6d,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
...,...,...,...,...,...
95,integrationType: STAYS,_id: 613acaf7ea924f00122dc1a4,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
96,integrationType: STAYS,_id: 613ac813ea924f00122dc13c,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
97,integrationType: STAYS,_id: 613ac195ea924f00122dc023,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
98,integrationType: STAYS,_id: 613abe18ea924f00122dbda7,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi
99,integrationType: STAYS,_id: 613abc9bea924f00122dbd5b,aliasId: HOUSI,name1: Housi gestão patrimonial,name2: Housi

In [8]:
df_partner.columns = df_partner.columns.map(str)

In [9]:
df_partner['0'] = df_partner['0'].str.replace('integrationType: ', '')
df_partner['1'] = df_partner['1'].str.replace('_id: ', '')
df_partner['2'] = df_partner['2'].str.replace('aliasId: ', '')
df_partner['3'] = df_partner['3'].str.replace('name1: ', '')
df_partner['4'] = df_partner['4'].str.replace('name2: ', '')

df_partner = df_partner.rename(columns={'0': 'tipo_integração', '1': 'id_partner', '2': 'alias_partner', '3': 'nome_gestor', 
                                         '4': 'nome_partner'})

display(df_partner)

,tipo_integração,id_partner,alias_partner,nome_gestor,nome_partner
0,STAYS,613c425c3bb0970018fe5e2a,HOUSI,Housi gestão patrimonial,Housi
1,STAYS,613c392b3bb0970018fe5dc2,HOUSI,Housi gestão patrimonial,Housi
2,STAYS,613c38e63bb0970018fe5da2,HOUSI,Housi gestão patrimonial,Housi
3,HOUSI,613c2c6b3bb0970018fe4cc4,GKN4U,Atlantica Gestão Patrimonial Brasil,Atlantica Hotels International
4,STAYS,613c27c13bb0970018fe4c6d,HOUSI,Housi gestão patrimonial,Housi
...,...,...,...,...,...
95,STAYS,613acaf7ea924f00122dc1a4,HOUSI,Housi gestão patrimonial,Housi
96,STAYS,613ac813ea924f00122dc13c,HOUSI,Housi gestão patrimonial,Housi
97,STAYS,613ac195ea924f00122dc023,HOUSI,Housi gestão patrimonial,Housi
98,STAYS,613abe18ea924f00122dbda7,HOUSI,Housi gestão patrimonial,Housi
99,STAYS,613abc9bea924f00122dbd5b,HOUSI,Housi gestão patrimonial,Housi

In [10]:
def l_space(df):
    df = df.str.strip()
    return df

In [11]:
df_partner['tipo_integração'] = l_space(df_partner['tipo_integração'])
df_partner['id_partner'] = l_space(df_partner['id_partner'])
df_partner['alias_partner'] = l_space(df_partner['alias_partner'])
df_partner['nome_gestor'] = l_space(df_partner['nome_gestor'])
df_partner['nome_partner'] = l_space(df_partner['nome_partner'])

In [12]:
df_partner.to_excel('tabela_partner.xlsx')